/* page style */
body {
    background-color: whitesmoke;
    font-family: 'Anek Telugu', sans-serif;
}

/* body style end */

/* header style start */

.header-elements {
    display: flex;
    justify-content: center;
    width: 1300px;
    height: 500px;
    color: antiquewhite;
    background-color: black;

}

header h1 {
    font-size: 50px;
}

.header-text {
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

}

header p {
    font-size: 20px;
}

header button:hover {
    transform: rotate(360deg);
    transition: 0.5s;
}

header button {
    border-radius: 10px;
    background-color: yellow;
    padding: 10px;
    font-weight: 700;
}

header button a {
    text-decoration: none;
}

.header-image {
    padding-top: 160px;
    padding-right: 30px;
}

.header-image:hover {
    transform: rotate(50deg);
    transition: 0.2s;
}

/* header style end */

/* main style */
.main {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.aside {
    background-color: black;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

aside button {
    border-radius: 10px;
    background-color: yellow;
    padding: 5px;
    color: black;
    font-size: 700;
}

aside button a {
    text-decoration: none;
}


.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    background-color: lightskyblue;
    padding-left: 10px;


}



/* footer style */
footer {
    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

/* media query for mobile */
@media screen and (max-width: 680px) {
    .main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .header-elements {
        width: 100%;
    }
}